<!-- Footer -->
<footer>
  <div class="footer-bg">
    <div class="container">
      <div class="pt-5 pb-2">
        <div class="row">
          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <h5 class="mb-3 text-white border-bottom pb-3 border-primary">
              Who we are
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Home</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/about-us" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>About
                  Us</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/careers" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Careers</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/contact-us" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Contact
                  Us</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Blog</a
                >
              </li>
            </ul>
          </div>

          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <h5 class="text-white border-bottom pb-3 border-primary mb-3">
              What we do
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Transfer
                  Pricing</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Tax
                  Dispute Resolution</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Mergers &
                  Acquisitions</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Corporate
                  Secretarial</a
                >
              </li>
            </ul>
          </div>

          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="350"
          >
            <ul class="nav flex-column">
              <li class="nav-item mb-3">
                <div class="fw-bold text-white fs-3">
                  Chartered Accountants
                </div>
              </li>
              <li class="nav-item mb-3">
                <p class="text-white">
                  <i
                    class="fa-solid fa-location-dot"
                    style="color: #0d6efd"
                  ></i
                  >Mumbai <span style="color: #0d6efd">|</span> Navi
                  Mumbai <span style="color: #0d6efd">|</span> Pune
                </p>
              </li>
              <li class="nav-item mb-3">
                <p class="text-white">
                  <i class="fa fa-phone" style="color: #0d6efd"></i
                  ><b> +91 - 9892559106</b>
                </p>
              </li>
              <li class="nav-item mb-3">
                <p class="text-white">
                  <i class="fa fa-envelope" style="color: #0d6efd"></i
                  ><b> abcc@gmail.com</b>
                </p>
              </li>
              <li class="nav-item">
                <div class="social-links">
                  <a href="#" target="_blank"
                    ><i class="fa-brands fa-whatsapp"></i
                  ></a>
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="copyright"
    data-aos="fade-up"
    data-aos-delay="450"
    class="text-white"
  >
    Copyright © 2025. All Rights Reserved to Chartered Accountants
  </div>
</footer>

