<!-- Footer -->
<footer>
  <div class="footer-bg">
    <div class="container"  >
      <div class="pt-5 pb-2">
        <div class="row">
          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <h5 class="mb-3 text-white border-bottom pb-3 border-primary">
              Useful Links
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-3">
                <a href="https://incometaxindia.gov.in/Pages/default.aspx" target="_blank" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Income Tax</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="https://www.gst.gov.in/"  target="_blank"  class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Goods and Service Tax</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="http://mca.gov.in/"  target="_blank"  class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>MCA</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="http://cbec.gov.in/"  target="_blank"  class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Central Board of Excise &amp; Customs</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="http://epfindia.com/site_en/"  target="_blank"  class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Employees Provident Fund</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="https://www.tin-nsdl.com/"  target="_blank"  class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>E-Tax Information Network</a
                >
              </li>
            </ul>
          </div>

          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <h5 class="text-white border-bottom pb-3 border-primary mb-3">
              Quick Links

            </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-3">
                <a href="/" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Home</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/query" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Query</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/news" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>News</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/disclaimer" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Disclaimer</a
                >
              </li>
              <li class="nav-item mb-3">
                <a href="/contact-us" class="nav-link p-0 text-muted"
                  ><span><i class="fa fa-angle-right"></i></span>Contact Us</a
                >
              </li>
            </ul>
          </div>

          <div
            class="col-6 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="350"
          >
            <ul class="nav flex-column">
              <li class="nav-item">
                <!-- <div class="fw-bold text-white fs-3" style="color: rgba(255, 255, 255, 0.65) !important;">
                 Agarwal Vishnu & Co.
                </div> -->
                <a
      class="navbar-brand"
      href="/"
      data-aos="fade-right"
      data-aos-delay="200"
    >
      <img
        src="/images/logo.png"
        alt="logo"/></a>
              </li>
              <li class="nav-item">
                <p class="text-white" style="color: rgba(255, 255, 255, 0.65) !important;">
                  <i
                    class="fa-solid fa-location-dot"
                    style="color: #0d6efd"
                  ></i
                  > Office no. 5, 1st floor, Vinay Heritage, Vinay Nagar, Mira Road East 401107, Maharashtra</p>
              </li>
              <li class="nav-item ">
                <p class="text-white" style="color: rgba(255, 255, 255, 0.65) !important;">
                  <i class="fa fa-phone" style="color: #0d6efd"></i
                  ><b> +91 - 93210 52466</b>
                </p>
              </li>
              <li class="nav-item ">
                <p class="text-white" style="color: rgba(255, 255, 255, 0.65) !important;">
                  <i class="fa fa-envelope" style="color: #0d6efd"></i
                  ><b> team@avco.co.in</b>
                </p>
              </li>
              <li class="nav-item">
                <div class="social-links">
                  <!-- <a href="https://api.whatsapp.com/send?phone=919321052466&amp;;text=Hello" target="_blank"
                    ><i class="fa-brands fa-whatsapp"></i
                  ></a>
                  <a href="/contact-us"><i class="fa-solid fa-phone"></i></a> -->
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                  <a href="#"><i class="fa-brands fa-envelope"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright aos-init aos-animate" data-aos="fade-up" data-aos-delay="450" >
    Copyright © 2025. All Rights Reserved to Avco.co.in
  </div>
  </div>
  
</footer>

