<style>
  body{
   overflow-x: hidden;
  }
  p{
    font-size:14px !important;
    font-family: Poppins !important;
    text-align: justify !important;
  }

  
  .service-bnr .sec-bg {
    width: 180%;
    border-radius: 10px;
    position: relative;
    float: left;
    top: 110px;
    right: -87px;
  }

  .are-container{
    margin-top: 60px;
  }
  
  .descBox ul li {
    line-height: 1;
    font-size: 14px;
  }

  .logo-wrapper img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* .logo-img {
    height: 60px;
} */

.ca-img {
    height: 40px !important; 
    width: 91px !important
}
  
  .text-primary{
    color: #0A5073 !important;
  }
  .newsTitle{
    background-color: #0A5073 !important;
  }
  .newsTitle::after{
    border-top: 15px solid #0A5073 !important;
  }
  .bg-primary{
    background-color: #0A5073 !important;
  }
  .btn-primary{
    background-color: #0A5073 !important;
  }
  .quote-icon {
    color: #0A5073 !important;
  }

  
  .img-box {
  width: 170px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.social-fx li {
   background: #0A5073 !important;
}
.social-fx li a{
   color: rgba(255, 255, 255, 0.65) !important;
;
}
.nav-link {
  color:  rgba(255, 255, 255, 0.65) !important; 
  font-weight: 700;
}
.footer-bg {
  background-color: #08142b !important; 
  /* background-color: rgba(0,0,0,0.25) !important; */
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-bottom: 1px solid #fff;
}
.service-bnr {
  background-image: url(/images/black-bg.png) !important;
  }
  .bx-ser .fa {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #0A5073 !important;
}
.service-card  a{
cursor: pointer; 
text-decoration: none !important;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* adjust your banner height */
  overflow: hidden;
}

/* Background image with dark overlay */
.banner-image {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* dark overlay */
    url('images/carousel/banner-15.png') center/cover no-repeat;
}

.banner-image1 {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(0, 0, 0,  0.5), rgba(0, 0, 0,  0.5)), /* dark overlay */
    url('images/carousel/banner-9.jpeg') center/cover no-repeat;
}

.banner-image2 {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(0, 0, 0,  0.5), rgba(0, 0, 0,  0.5)), /* dark overlay */
    url('images/carousel/banner-17.png') center/cover no-repeat;
}

.banner-image3 {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* dark overlay */
    url('images/carousel/banner-18.png') center/cover no-repeat;
}

/* Heading text */
.banner-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  z-index: 10;
}




    .banner-heading span{
     font-size: 40px;
    font-weight: bold;
    font-family: open sans, Helvetica, Arial, sans-serif;
    }
    .banner-heading p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    letter-spacing: 4px;
    }

    .banner-line{
    width: 50%;
    height: 2px;
    background: #fff;
    margin: 25px auto 15px auto;
   
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 51%, rgba(0, 0, 0, 0.02) 99%, rgba(0, 0, 0, 0) 100%);
    }


    .v2{
      
    border: 2px solid #0A5073;
    border-radius: 46px;
    left: 13px;
    top: 40px;
    content: &quot;&quot;;
    width: 45px;

    }
    ::marker{
   
    color: #0A5073 !important;
    }

    .black-bg{
      color: #111 !important;
    }
    .banner-section .title {
      color: #0A5073 !important;
    }


    .navbar-brand img {
    width: 282px;
}

.sec-bg img{
  width:684px !important;
  height:320px !important;
}

p b{
  color: #0A5073 !important;
}





   
</style>

<!-- Nav bar -->

<nav
  class="navbar fixed-top navbar-expand-lg bg-light"
  data-aos="fade-down"
  data-aos-duration="900"
  data-aos-delay="100" style=" background-color: #fff !important;
  backdrop-filter: blur(10px) !important;"
>
  <div class="container">
<div class="logo-wrapper">  
    <a
      class="navbar-brand"
      href="/"
      data-aos="fade-right"
      data-aos-delay="200"
    >
    <!--<img
        src="/images/ca.png"
        alt="logo"  class="ca-img" 
    />-->
      <img
        src="/images/logo.png"
        alt="logo" class="logo-img" 
    /></a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-aos="fade-left"
      data-aos-delay="200"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item" data-aos="fade-down" data-aos-delay="250">
          <a
            class="nav-link fs-6 text-uppercase active"
            aria-current="page"
            href="/" style="color: #0A5073 !important;"
            >Home</a
          >
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="300">
          <a class="nav-link fs-6 text-uppercase text-black" href="/about-us"
            style="color: #0A5073 !important;">About Us</a
          >
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="350">
          <a href="#" class="nav-link fs-6 text-uppercase" style="color: #0A5073 !important;">
            Services <span class="arrow"></span>
          </a>
          <div class="dropdown">
            <a href="/Services/audit-and-assurance"  class="dropdown-item text-primary">Audit and Assurance</a>
            <a href="/Services/internal-audit" class="dropdown-item  text-primary" >Internal audit and Risk Advisory</a>
            <a href="/Services/direct-tax" class="dropdown-item  text-primary" >Direct Tax, Disputes & Advisory</a>
            <a href="/Services/international-taxation" class="dropdown-item  text-primary" >Cross-border Tax, TP & FEMA Advisory</a>
            <a href="/Services/indirect-tax" class="dropdown-item  text-primary" >GST and litigations</a>
            <a href="/Services/legal-secretarial" class="dropdown-item  text-primary" >Corporate Law, Secretarial & FEMA Compliance</a>
            <a href="/Services/outsourcing-solutions" class="dropdown-item  text-primary" >Global Outsourcing & Virtual CFO Services</a>
            <a href="/Services/backoffice" class="dropdown-item  text-primary" >Global Back-office solutions</a>
          </div>
        </li>
         <li class="nav-item" data-aos="fade-down" data-aos-delay="450">
          <a class="nav-link fs-6 text-uppercase  text-primary" style="color: #0A5073 !important;"  href="/teams"
            >Team</a
          >
        </li>

        <!-- <li class="nav-item" data-aos="fade-down" data-aos-delay="400">
          <a class="nav-link fs-6 text-uppercase text-black" href="/admin"
            >Admin</a
          >
        </li> -->

        <li class="nav-item" data-aos="fade-down" data-aos-delay="450">
          <a class="nav-link fs-6 text-uppercase text-black" style="color: #0A5073 !important;" href="/careers"
            >Career</a
          >
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="500">
          <a class="nav-link fs-6 text-uppercase text-black" style="color: #0A5073 !important;"  href="/contact-us"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>


      <!-- fixed toggle button -->
       <div class="fix-box">
        <ul class="social-fx">
          <li>
            <a href="/query"
              ><strong>Query</strong>
              <span
                ><img
                  src="/images/qr.png" /></span
            ></a>
          </li>
          <li>
            <a href="/careers" 
              ><strong>Career</strong>
              <span
                ><img
                  src="/images/career.png" /></span
            ></a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=919321052466&amp;;text=Hello" 
              ><strong>Whats App</strong>
              <span
                ><img
                  src="/images/wh.png" /></span
            ></a>
          </li>
          <li>
            <a href="/contact-us"
              ><strong>Contact Us</strong>
              <span
                ><img
                  src="/images/co.png" /></span
            ></a>
          </li>
        </ul>
      </div>


 