<!-- Nav bar -->
<nav
  class="navbar navbar-expand-lg bg-light"
  data-aos="fade-down"
  data-aos-duration="900"
  data-aos-delay="100"
>
  <div class="container">
    <a class="navbar-brand" href="#" data-aos="fade-right" data-aos-delay="200"
      >Navbar</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-aos="fade-left"
      data-aos-delay="200"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item" data-aos="fade-down" data-aos-delay="250">
          <a
            class="nav-link fs-6 text-uppercase active"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="300">
          <a class="nav-link fs-6 text-uppercase text-black" href="#"
            >About Us</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            href="javascript:void(0)"
            class="nav-link fs-6 text-uppercase text-black"
            >Services</a
          >
          <ul class="dropdown-menu">
            <li><a href="#" class="fs-6 text-black">Income Tax Filing </a></li>
            <li>
              <a href="#" class="fs-6 text-black"
                >Investment &amp; Financial Planning
              </a>
            </li>
            <li><a href="#" class="fs-6 text-black">Retirement Planning</a></li>
            <li>
              <a href="#" class="fs-6 text-black"
                >GST Registration &amp; GST Returns Filing</a
              >
            </li>
            <li>
              <a href="#" class="fs-6 text-black">NRI Income Tax Filing</a>
            </li>
            <li>
              <a href="#" class="fs-6 text-black"
                >Company Incorporation &amp; Annual Filings</a
              >
            </li>
            <li>
              <a href="#" class="fs-6 text-black"
                >Book keeping &amp; Outsourcing</a
              >
            </li>
            <li><a href="#" class="fs-6 text-black">TDS Return Filing</a></li>
          </ul>
          <span class="arow"></span><span class="arow"></span>
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="400">
          <a class="nav-link fs-6 text-uppercase text-black" href="#">Faq</a>
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="450">
          <a class="nav-link fs-6 text-uppercase text-black" href="#">Career</a>
        </li>

        <li class="nav-item" data-aos="fade-down" data-aos-delay="500">
          <a class="nav-link fs-6 text-uppercase text-black" href="#"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
