<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Chartered Accountant - Contact Us</title>
  </head>

  <body>
    <main>
      <!-- Nav bar -->
      <%- include("./components/header.ejs") %>

      <div class="banner-section">
        <div class="img-bnr">
          <img
            src="/images/carousel/audit.jpg"
            alt="banner"
            class="w-100 h-100"
          />
          <div class="title">Audit and Assurances</div>
        </div>
      </div>
    

       <!-- <div class="banner-section">
        <div class="img-bnr">
          <img
            src="/images/about-us.jpg"
            class="w-100 h-100"
          />
          <div class="title">Audit and Assurance</div>
        </div>
      </div> -->
      <!-- <div class="bg-img" style="background-image: url('https://www.vsmllp.com/resource/Services/image/Audit-BG.png'); width: 100%; height:350px; background-size: cover;">
   <div class="container">
      <section>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding-left:0; padding-right: 0;">
            <div class="sticky wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">>
               <img class="float-bottom-banner" src="https://www.vsmllp.com/resource/Services/Image/dotted.png" alt="dotted-float" style="position: absolute; top: 90px;" data-parallax="{&quot;y&quot;: 500}">
            </div>
            <div class="banner-text-upper">
              <!--  <h2 class="banner-audit-text-head-upper"> </h2>
               <p class="banner-audit-text-para-upper"> 
                  Audit and Assurance 
               </p>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-left:0; padding-right: 0; z-index: 1;">
            <img class="main-audit-img-upper" style="" src="https://www.vsmllp.com/resource/Services/Image/Audit-bg-2.jpg" alt="people">
         </div>
         <!-- <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
         </div> 

         </section>
         </div>
         </div> -->

      <!-- <div class="contact-us-section">
        <div class="container">
          
          <div class="row">
            <p>
              Auditing is a highly complex process where auditor plays a pivotal role in the financial reporting process, thereby increasing the our responsibilities manifold in the present era. The investors and lenders trusts auditors to provide an unbiased true and fair opinion about the financial position and the financial results.
</p>
<p>
We offer a complete range of Audit and Assurance Solutions at VSM to help improve your financial efficiency, accuracy and stability.Our partner led services, strong knowledge base and methodology aligned to local as well as global auditing practices has position us to provide value additions to your organisation during the course of providing services. Audit methodologies and process is comparable to audit methodology / processes adopted internationally and westructure our audit procedures considering the size and nature of business of each client and to meet the regulatory requirements.
</p>
<p>
We offer f Audit and Assurance Services in following areas:
</p>
<p>
We offer a complete range of Audit and Assurance Solutions at VSM to help improve your financial efficiency, accuracy and stability.Our partner led services, strong knowledge base and methodology aligned to local as well as global auditing practices has position us to provide value additions to your organisation during the course of providing services. Audit methodologies and process is comparable to audit methodology / processes adopted internationally and westructure our audit procedures considering the size and nature of business of each client and to meet the regulatory requirements.
</p>
<p>
We offer f Audit and Assurance Services in following areas:
                    </p>
                    <p> <h3 class="text-blue">Audit and Assurance Services include :</h3> </p>
                    <ul>
                      <li>Financial Statement Audits</li>
                      <li>Ind AS/IFRS Financials Convergence and Compilation</li>
                      <li>Group Reporting</li>
                    </ul>
                    

            
          </div>
        </div>
      </div> -->
     
       <!-- About Section -->
      <div class="container are-container" data-aos="fade-up">
        <div class="mx-auto py-5">
          <div class="row pt-5 align-items-center">
            <div class="col-md-4 col-12">
              <div class="vl"></div>
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                <p>
                 Auditing is a highly complex process where auditor plays a pivotal role in the financial reporting process, thereby increasing the our responsibilities manifold in the present era. The investors and lenders trusts auditors to provide an unbiased true and fair opinion about the financial position and the financial results.
                </p>
                <p>
                 We offer a complete range of Audit and Assurance Solutions at VSM to help improve your financial efficiency, accuracy and stability.Our partner led services, strong knowledge base and methodology aligned to local as well as global auditing practices has position us to provide value additions to your organisation during the course of providing services. Audit methodologies and process is comparable to audit methodology / processes adopted internationally and westructure our audit procedures considering the size and nature of business of each client and to meet the regulatory requirements.
                </p>
                <p>
                 We offer f Audit and Assurance Services in following areas:
                </p>
                <p>
                  We offer a complete range of Audit and Assurance Solutions at VSM to help improve your financial efficiency, accuracy and stability.Our partner led services, strong knowledge base and methodology aligned to local as well as global auditing practices has position us to provide value additions to your organisation during the course of providing services. Audit methodologies and process is comparable to audit methodology / processes adopted internationally and westructure our audit procedures considering the size and nature of business of each client and to meet the regulatory requirements.
                </p>
                <p>We offer f Audit and Assurance Services in following areas:</p>
              </div>
              <div class="descBox">
                <h3>Our Audit and Assurance Services include :</h3>
                <ul>
                  <li>Financial Statement Audits</li>
                  <li>Ind AS/IFRS Financials Convergence and Compilation</li>
                  <li>Group Reporting</li>
                  <li>Statutory and other Certification</li>
                  <li>Prospectus Audit, Assistance in Capital Market transactions</li>
                  <li>Internal Financial Control (IFC) / SOX implementation</li>
                  <li>Accounting policy manual</li>
                  <li>Agreed-upon Procedures</li>
                  <li>Secondary Audits of Overseas Subsidiaries</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-bg">
        <div class="container">
          <div class="mx-auto text-center py-5">
            <h2 class="title lh-base" data-aos="fade-up">
               <br />
              <span class="text-blue fw-bold primary">OTHER SERVICES</span>
            </h2>

            

            <div class="my-5 container-fluid">
              <div class="row">
              

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-user-check text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Internal audit
                      </h5>
                      <p class="card-text fw-normal">
                       Internal audit evaluates risks and strengthens internal control systems.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-file-invoice-dollar text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Direct Tax
                      </h5>
                      <p class="card-text fw-normal">
                       Direct tax is paid directly to the government by individuals.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Row 2 same pattern -->
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-cart-shopping text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Indirect Tax
                      </h5>
                      <p class="card-text">Indirect tax is collected through goods and services purchased.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-globe text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                        International Taxation
                      </h5>
                      <p class="card-text">International taxation governs cross-border income and tax obligations.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-scale-balanced text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                        Legal & Secretarial compliances
                      </h5>
                      <p class="card-text">Legal and secretarial compliances ensure proper governance and regulatory adherence.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        offset: 100,
      });
    </script>

    <script src="/js/script.js"></script>
  </body>
</html>

