<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Agarwal Vishnu & Co</title>
  </head>

  <body>
    <main>
      <!-- Nav bar -->
      <%- include("./components/header.ejs") %>

     <div class="banner-section">
        <div class="service-bnr">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="dotted-bg">
                  <img src="/images/dotted.png" />
                  <div class="main-heading">Global Back-office <br> solutions</div>
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="sec-bg">
                  <img src="/images/audit-bg-9.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- About Section -->
      <div class="container are-container" data-aos="fade-up">
        <div class="mx-auto py-5">
          <div class="row pt-5 align-items-center">
            <div class="col-md-4 col-12">
              <div class="vl"></div>
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
               <p>We offer integrated HR, Payroll and Financial Advisory services to help organisations streamline people processes and optimise their capital structure, so that management can focus on strategy and growth.</p>
              </div>
              <div class="descBox">
                <p><b>HR Services:</b></p>
                <h3>We provide end-to-end HR process support, tailored to your organisation’s scale and structure:</h3>
                <ul>
                <li><p><b>Recruitment support</b> – coordinating hiring cycles, screening assistance and candidate management</p></li>
  <li><p><b>Interview scheduling</b> – managing interview calendars, confirmations and follow-ups</p></li>
  <li><p><b>Onboarding support</b> – documentation, joining formalities and system setup</p></li>
  <li><p><b>life cycle changes</b>  – handling ad-hoc changes such as role, grade, compensation and transfers</p></li>
  <li><p><b>Exit management</b> – support with resignations, full & final settlements and exit documentation</p></li>
  <li><p><b>HR Helpdesk </b>– employee support – query resolution and coordination with internal teams</p></li>
         </ul>
         <p><b>Payroll Administration</b></p>
         <h3>We manage the complete payroll cycle with an emphasis on accuracy, confidentiality and compliance:</h3>
          <ul>
            <li><p><b>Payroll setup</b> – initial configuration of payroll structure, masters and processes</p></li>
  <li><p><b>Tax-efficient salary structuring </b>– optimisation of CTC structure within the legal framework</p></li>
  <li><p><b>Monthly payroll processing</b> – computation of salaries, deductions and net pay</p></li>
  <li><p><b>Reimbursement processing</b> – handling of employee claims and reimbursements</p></li>
  <li><p><b>Payment of taxes</b> – computation and assistance in remittance of TDS and other statutory dues</p></li>
  <li><p><b>Statutory deductions and filings</b> – PF, ESI, PT and related periodic returns</p></li>
  <li><p><b>Assistance in _bank payments</b> – preparation of bank files / payment advice for salary disbursement</p></li>
  <li><p><b>Issuing pay slips and salary certificates</b> – timely generation and distribution in agreed formats</p></li>
  </ul>    
            </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4 style="color: #0A5073;">Other Value-Added Financial Advisory Services</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              
              <div class="descBox">
                <p>In addition to HR and payroll, we provide specialised financial advisory services across funding, capital structuring and special situations.</p> 
                <h3> Project Financing</h3>
                <ul>

                <li><p>Greenfield and brownfield project expansion funding</p></li>
  <li><p>Construction finance for outright, JV, redevelopment and SRA projects</p></li>
  <li><p>Acquisition finance for business and asset acquisitions</p></li>
  <li><p>Equipment finance (including off–balance sheet structures)</p></li>
  <li><p>Mezzanine funding solutions</p></li>
  <li><p>Induction of joint venture partners</p></li>
  <li><p>Barter arrangements with contractors, where feasible</p></li>
  <li><p>Loans against unlisted shares</p></li>
  <li><p>Refinancing of rupee term loans through ECBs, where appropriate</p></li>
  <li><p>Replacement of existing loans with higher tenure / more efficient structures</p></li>
  <li><p>Loan structures backed by discounting of future receivables</p></li>
  <li><p>Design and execution of bespoke / structured finance transactions</p></li>
                
         </ul>

         <h3> Working Capital Solutions</h3>
                <ul>
  <li><p>Arrangement of traditional working capital limits from banks</p></li>
  <li><p>Induction of new lenders under multiple / consortium banking arrangements</p></li>
  <li><p>Order-specific WCDL / short-term funding lines</p></li>
  <li><p>Factoring and reverse factoring structures</p></li>
  <li><p>Sales and purchase bill discounting limits</p></li>
  <li><p>Channel and vendor financing programmes for large corporates</p></li>
  <li><p>SBLC and BG-backed structures to support overseas subsidiaries</p></li>
  <li><p>Arrangement of trade finance lines through offshore trade funds or aligned trading entities</p></li>
</ul>

 <h3> Equity Advisory</h3>
                <ul>
 <li><p>Preparing companies for equity raising from PE / strategic investors or listing</p></li>
  <li><p>Assistance in arriving at a fair valuation of the business</p></li>
  <li><p>Advisory for raising equity / quasi equity through Venture Debt, PE, strategic sale or IPO</p></li>
</ul>

<h3>Stressed Assets Advisory</h3>
                <ul>
                  <li><p>Turnaround guidance and financial restructuring for viable stressed units</p></li>
  <li><p>Assisting in raising appropriate mix of funds from stressed asset funds / ARCs</p></li>

 </ul>

 <h3>Other Strategic & Valuation Services</h3>
                <ul>
                 <li><p>Business valuation, ESOP valuation and related valuation exercises</p></li>
  <li><p>Succession planning and ownership transition support</p></li>
  <li><p>Preparation of special purpose management reports and analytical dashboards</p></li>
 </ul>

         <p>Our objective across all these offerings is to combine strong technical capabilities with practical, implementable solutions that support sustainable growth and governance.</p>
        
              </div>
            </div>
            </div>



        </div>
      </div>


      <!-- Services Section -->
       <!-- Services Section -->
      <div class="service-bg">
        <div class="container">
          <div class="mx-auto text-center py-5">
            <h2 class="title lh-base" data-aos="fade-up">
              
              <span class="text-blue fw-bold primary">OTHER SERVICES</span>
            </h2>

           

            <div class="my-5 container-fluid">
              <div class="row">

                 <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 mb-4 h-100">
                    <a  href="/Services/audit-and-assurance" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Audit & Assurance
                      </h5>
                      <p class="card-text fw-normal text-black">
                        Auditing is a highly complex process..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <!-- Service Cards -->
                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/internal-audit" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                      Internal audit and Risk Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                        Enterprise risk management (ERM)..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/direct-tax" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                      Direct Tax, Disputes & Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                        We provide various Advisory services..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/international-taxation" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Cross-border Tax, TP & FEMA Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                       We support and advise on various tax..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/indirect-tax" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       GST and litigations
                      </h5>
                      <p class="card-text fw-normal text-black">
                       We provide comprehensive advisory and compliance..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>



                

                <!-- Row 2 same pattern -->

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/legal-secretarial" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Corporate Law, Secretarial & FEMA Compliance
                      </h5>
                      <p class="card-text fw-normal text-black">
                       A company which is or has been incorporated..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/outsourcing-solutions" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Global Outsourcing & Virtual CFO Services
                      </h5>
                      <p class="card-text fw-normal text-black">
                      Business process outsourcing has become..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

               
                
              </div>
            </div>
          </div>
        </div>
      </div>


    

      <!-- Footer -->
      <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        offset: 100,
      });
    </script>

    <script src="/js/script.js"></script>
  </body>
</html>

