<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
   
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Agarwal Vishnu & Co</title>

    <style>
      .about-container{
        position: relative;
    display: block;
    clear: both;
    padding: 50px 0;
      }
      .about-desc{
        color: #000 !important;
    line-height: 28px !important;
    font-size: 15px;
    margin: auto;
    width: 80% !important;
    margin-bottom: 20px !important;
    text-align: center;
  }
       .py-5{
      }
      padding-top: 0rem !important;
     
    }
    .my-5{
      margin-bottom: 0rem !important;
     
    }
    .black-bg:hover {
      color: #0A5073 !important;
    }

    </style>
  </head>

  <body>
    <main>
      <!-- Nav bar -->
      <!-- <nav
        class="navbar fixed-top navbar-expand-lg bg-light"
        data-aos="fade-down"
        data-aos-duration="900"
        data-aos-delay="100"
      >
        <div class="container">
          <a
            class="navbar-brand"
            href="#"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <img
              src="/images/logo.png"
              alt="logo"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
              <li class="nav-item" data-aos="fade-down" data-aos-delay="250">
                <a
                  class="nav-link fs-6 text-uppercase active"
                  aria-current="page"
                  href="#"
                  >Home</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="300">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >About Us</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  href="javascript:void(0)"
                  class="nav-link fs-6 text-uppercase text-black"
                  >Services</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="fs-6 text-black">Income Tax Filing </a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Investment &amp; Financial Planning
                    </a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black">Retirement Planning</a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >GST Registration &amp; GST Returns Filing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >NRI Income Tax Filing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Company Incorporation &amp; Annual Filings</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Book keeping &amp; Outsourcing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black">TDS Return Filing</a>
                  </li>
                </ul>
                <span class="arow"></span><span class="arow"></span>
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="400">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Faq</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="450">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Career</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="500">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav> -->

      <%- include("./components/header.ejs") %>


      <!-- Carousel (NO animation - as per CA template style) -->
      <div
        id="carouselExampleInterval"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner" style="min-height:100vh !important;">
          <div class="carousel-item active" data-bs-interval="3000" style="min-height:100vh !important;">
            <div class="banner-wrapper">
              <div class="banner-image"></div>
           
            <div class="banner-heading"><span>Welcome<br/> to <br>
              Agarwal Vishnu & Co <br></span>
              <p style="text-align:center !important;">Chartered Accountants</p>
              <div class="banner-line"></div>
            </div>

            </div>
               
          </div>
          <div class="carousel-item" data-bs-interval="3000" style="min-height:100vh !important;">
           <div class="banner-wrapper">
              <div class="banner-image1"></div>
           
            <div class="banner-heading"><span>Welcome<br/> to <br>
              Agarwal Vishnu & Co <br></span>
              <p style="text-align:center !important;">Chartered Accountants</p>
              <div class="banner-line"></div>
            </div>

            </div>
          </div>
         
          
          
          <div class="carousel-item" data-bs-interval="3000" style="min-height:100vh !important;">
            <div class="banner-wrapper">
              <div class="banner-image2"></div>
           
            <div class="banner-heading"><span>Welcome<br/> to <br>
              Agarwal Vishnu & Co <br></span>
              <p style="text-align:center !important;">Chartered Accountants</p>
              <div class="banner-line"></div>
            </div>

            </div>
          </div>
           <div class="carousel-item" data-bs-interval="3000" style="min-height:100vh !important;">
            <div class="banner-wrapper">
              <div class="banner-image3"></div>
           
            <div class="banner-heading"><span>Welcome<br/> to <br>
              Agarwal Vishnu & Co <br></span>
              <p style="text-align:center !important;">Chartered Accountants</p>
              <div class="banner-line"></div>
            </div>

            </div>
          </div>
           <!-- <div class="carousel-item" data-bs-interval="3000">
            <img
              src="/images/carousel/Nation-Progress.jpg"
              class="d-block w-100 h-100 cover"
              alt="Accounting Services Infographic"
            />
          </div> -->
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- About Section -->
      <div class="container about-container" data-aos="fade-left">
        <div class="mx-auto text-center py-5">
          <h2 class="main-title lh-base" data-aos="fade-left" style="color: #0A5073 !important;">
            Welcome to <br />
            <span
              class="text-blue fw-bold primary"
              data-aos="fade-left"
              data-aos-delay="100"
              >Agarwal Vishnu & Co</span
            >
          </h2>

          <p
            class="about-desc my-5 lh-lg"
            data-aos="fade-left"
            data-aos-delay="200"
          ><b style="color: #0A5073;">Agarwal Vishnu & Co. (AVCO)</b>, a multi-disciplinary Chartered Accountants firm headquartered in Mumbai, provides a wide spectrum of services in tax, audit and advisory to both domestic and international entities. As a firm, we are driven by a strong culture of ethics and professional integrity, and firmly believe that integrity combined with expertise drives excellence and creates value for our clients, our people and society at large. 

          </p>
         <!--  <p
            class="about-desc my-5 lh-lg"
            data-aos="fade-left"
            data-aos-delay="200"
          >
          At AVCO, we consistently prioritise quality of service and treat client relationships as our greatest goodwill. Every client is important to us, and we are committed to delivering the highest standards of professional service. Each member of AVCO is dedicated to maintaining independence, enabling us to address our clients’ needs in the most objective and effective manner.
        </p> -->

          <div data-aos="fade-up" data-aos-delay="300">
            <a href="/about-us" class="text-center about-link"
              >Read More <i class="fa-solid fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Services Section -->
     <div class="service-bg">
        <div class="container">
          <div class="mx-auto text-center py-5">
            <h2 class="title lh-base" data-aos="fade-right" style="color: #0A5073;">
              Our <br />
              <span class="text-blue fw-bold primary">SERVICES</span>
            </h2>

            <p class="desc mt-2" data-aos="fade-right" data-aos-delay="100">
             We understand that for any organization to be successful SERVICE is the key factor and hence we always strive hard to provide our clients the best possible services at each and every stage of their business.
            </p>

            <div class="my-5 container-fluid">
              <div class="owl-carousel owl-theme services-carousel" id="servicesCarousel">
                <!-- Service Card 1 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-magnifying-glass-chart text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/audit-and-assurance" class="black-bg">Audit and Assurance</a> 
                      </h5>
                      <p class="card-text fw-normal">
                        Audit checks financial accuracy.Assurance increases users' confidence.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 2 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-user-check text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/internal-audit" class="black-bg">Internal audit and Risk Advisory</a>
                      </h5>
                      <p class="card-text fw-normal">
                       Internal audit evaluates risks and strengthens internal control systems.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 3 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-file-invoice-dollar text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                        <a href="/Services/direct-tax" class="black-bg">Direct Tax, Disputes & Advisory</a>
                      </h5>
                      <p class="card-text fw-normal">
                       Direct tax is paid directly to the government by individuals.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 4 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-cart-shopping text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/indirect-tax" class="black-bg">GST and litigations</a>
                      </h5>
                      <p class="card-text">Indirect tax is collected through goods and services purchased.</p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 5 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-globe text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/international-taxation" class="black-bg">Cross-border Tax, TP & FEMA Advisory</a> 
                      </h5>
                      <p class="card-text">International taxation governs cross-border income and tax obligations.</p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 6 -->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-scale-balanced text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/legal-secretarial" class="black-bg"> Corporate Law, Secretarial & FEMA Compliance</a>
                      </h5>
                      <p class="card-text">Legal and secretarial compliances ensure proper governance and regulatory adherence.</p>
                    </div>
                  </div>
                </div>

                <!-- Service Card 7-->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-user text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                       <a href="/Services/outsourcing-solutions" class="black-bg">Global Outsourcing & Virtual CFO Services</a> 
                      </h5>
                      <p class="card-text">Smart, scalable business outsourcing solutions.</p>
                    </div>
                  </div>
                </div>

                 <!-- Service Card 8-->
                <div class="item">
                  <div class="card shadow-sm p-4 h-100">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-address-card text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 service-card">
                        <a href="/Services/backoffice" class="black-bg">Global Back-office solutions</a>
                      </h5>
                      <p class="card-text">Smart backoffice support for businesses.</p>
                    </div>
                  </div>
                </div>







              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Client Section -->
      <!-- <div class="container">
        <div class="mx-auto text-center py-5" data-aos="fade-up">
          <h2 class="main-title lh-base fw-bold">What client Say</h2>

          <div class="row align-items-center mt-5">
            <div class="col-12 col-md-6" data-aos="fade-right">
              <img
                src="/images/clients-home.png"
                alt="client"
              />
            </div>

            <div
              class="col-12 col-md-6"
              data-aos="fade-left"
              data-aos-delay="150"
            >
              <div class="testimonalSlider">
                <!-- Slider stays same 
                <div
                  id="carouselExampleCaptions"
                  class="carousel slide"
                  data-bs-ride="false"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>ABC PVT LTD</h5>
                        <p>It's been a pleasure to work with the Super CA team. They are always friendly, respond quickly, and explain complex tax matters very clearly.</p>
                      </div>
                    </div>
                    <!-- <div class="carousel-item">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content...</p>
                      </div>
                    </div> -->
                    <!-- <div class="carousel-item">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content...</p>
                      </div>
                    </div> 
                  </div>

                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor"
                     style="color: #0A5073 !important;">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5 8.25 12l7.5-7.5"
                      />
                    </svg>
                  </button>

                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor" style="color: #0A5073 !important;"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      

      <!-- News Section -->
      <!-- <div class="container">
        <div class="mx-auto text-center py-5" data-aos="fade-up">
          <h2 class="main-title lh-base fw-bold">
            News, Due Date Reminder and Blog
          </h2>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 mb-3">
            <div
              class="border border-secondary border-opacity-50 border-top-0 h-100"
            >
              <div class="newsTitle">NEWS</div>
              <div class="newsBody">
                <div class="marquee-box" id="newsMarquee">
                  <div class="marquee-content" id="newsContent">
                    <!-- Dynamic content will be loaded here 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 mb-3 news-box">
            <div
              class="border border-secondary border-opacity-50 border-top-0 h-100"
            >
              <div class="newsTitle"> Due Date Reminder</div>
              <table
                cellspacing="0"
                border="0"
                style="border-collapse: collapse"
              >
                <tbody>
                  <tr>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="1">Jan</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="2">Feb</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="3">Mar</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="4">Apr</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="5">May</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="6">June</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="7">July</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="8">Aug</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="9">Sep</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="10">Oct</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="11">Nov</a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="12">Dec</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:void(0)" class="month-link" data-month="all">All</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div class="newsBody">
                <div class="marquee-box" id="dueDateReminderMarquee">
                  <div class="marquee-content" id="dueDateReminderContent">
                    <!-- Dynamic content will be loaded here 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 mb-3">
            <div
              class="border border-secondary border-opacity-50 border-top-0 h-100"
            >
              <div class="newsTitle">BLOGS</div>
              <div class="newsBody">
                <div class="marquee-box" id="blogsMarquee">
                  <div class="marquee-content" id="blogsContent">
                    <!-- Dynamic content will be loaded here 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Team Section -->
      <div class="team-bg">
        <div class="container">
          <div class="mx-auto text-center py-5" data-aos="fade-up">
            <h2 class="title lh-base fw-bold" style="color: #0A5073;">Our Team</h2>

            <p data-aos="fade-up" data-aos-delay="100" class="desc">
               Our team comprises of competent professionals with extensive
            knowledge, calibre and experience who specializes in their
            respective fields.
            </p>

            <div class="container-fluid mt-5">
              <div class="row">
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3 img-box">
                      <img
                      src="/images/teams/team1.jpg"
                      class="card-img-top w-100 h-100 cover rounded"
                    />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Vishnu Agarwal 
                      </h5>
                      <!-- <p class="card-text"> B.Com. and F.C.A</p> -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3 img-box">
                      <img
                      src="/images/teams/blank.jpg"
                      class="card-img-top w-100 h-100 cover rounded"
                    />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Pinal Agarwal 
                      </h5>
                      <!-- <p class="card-text"> B.Com. and F.C.A</p> -->
                    </div>
                  </div>
                </div>


                <!-- <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <img
                        src="https://i.ibb.co/xq0zmvFj/smileys.png"
                        class="card-img-top w-100 h-100 cover rounded"
                      />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Card title
                      </h5>
                      <p class="card-text">Some quick example...</p>
                    </div>
                  </div>
                </div>
              </div> -->

              <div
                class="d-flex justify-content-center align-content-center service-card"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                
                <a href="/teams" class="more-btn p-2 rounded-5 bg-primary text-white border-0">More Details</a>
                  
               
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- get in touch -->
      <div class="container">
        <div class="mx-auto py-5" data-aos="fade-right">
          <h2 class="title lh-base fw-bold mb-4 text-center" style="color: #0A5073;">Get In Touch</h2>
          <div class="row">
            <div class="col-md-6 col-12">
              <div>
                 <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.625571621003!2d72.879259!3d19.279042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b14234caa5c5%3A0xa2c6656aed8d786a!2sAgarwal%20Vishnu%20%26%20CO!5e0!3m2!1sen!2sin!4v1700000000000"
  width="100%"
  height="450"
  style="border:0; min-height:450px;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <form id="contactForm" novalidate>
                <div class="mb-3">
                  <label for="contactName" class="text-left form-label"
                    >Your Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="contactName"
                    name="name"
                    placeholder="Name"
                    maxlength="100"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="name"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactPhone" class="text-left form-label"
                    >Your Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="contactPhone"
                    name="phone"
                    placeholder="+91 9876543210"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="phone"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactEmail" class="text-left form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="contactEmail"
                    name="email"
                    placeholder="name@example.com"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="email"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactMessage" class="text-left form-label"
                    >Message</label
                  >
                  <textarea
                    class="form-control"
                    id="contactMessage"
                    name="message"
                    rows="4"
                    placeholder="Type here.."
                    maxlength="2000"
                    required
                  ></textarea>
                  <small
                    class="text-danger d-none"
                    data-error-for="message"
                  ></small>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    id="contactSubmit"
                    type="submit"
                    class="more-btn py-2 px-4 rounded-5 bg-primary text-white border-0 sh"
                  >
                    Submit
                  </button>
                </div>
                <p
                  class="text-muted text-center small mt-3"
                >
                  We respect your privacy. Your information stays confidential with
                  us.
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out-sine",
        once: false,
        offset: 100,
        mirror: true, 
      });
    </script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <!-- Initialize Owl Carousel for Services -->
    <script>
      $(document).ready(function(){
        var servicesCarousel = $("#servicesCarousel").owlCarousel({
          loop: true,
          margin: 30,
          nav: true,
          dots: false,
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          },
          navText: [
            '<i class="fa-solid fa-chevron-left"></i>',
            '<i class="fa-solid fa-chevron-right"></i>'
          ],
          onInitialized: function() {
            setTimeout(equalizeCardHeights, 100);
          },
          onTranslated: function() {
            setTimeout(equalizeCardHeights, 100);
          }
        });

        // Function to equalize card heights within visible items
        function equalizeCardHeights() {
          var $carousel = $("#servicesCarousel");
          var $visibleItems = $carousel.find(".owl-item.active:not(.cloned), .owl-item.active:not(.cloned)");
          
          // Reset heights first
          $carousel.find(".owl-item .item .card").css('min-height', 'auto');
          
          // Process each group of visible items (based on items shown)
          var itemsToShow = getCurrentItemsCount();
          
          $visibleItems.each(function(index) {
            if (index % itemsToShow === 0) {
              var $group = $visibleItems.slice(index, index + itemsToShow);
              var maxHeight = 0;
              
              // Find max height in this group
              $group.find(".item .card").each(function() {
                var height = $(this).outerHeight();
                if (height > maxHeight) {
                  maxHeight = height;
                }
              });
              
              // Set all cards in group to max height
              $group.find(".item .card").css('min-height', maxHeight + 'px');
            }
          });
        }
        
        // Get current number of items to show based on screen size
        function getCurrentItemsCount() {
          var width = $(window).width();
          if (width >= 1000) return 3;
          if (width >= 600) return 2;
          return 1;
        }

        // Equalize heights on window resize
        var resizeTimer;
        $(window).on('resize', function() {
          clearTimeout(resizeTimer);
          resizeTimer = setTimeout(function() {
            equalizeCardHeights();
          }, 250);
        });

        // Initial equalization after page load
        setTimeout(function() {
          equalizeCardHeights();
        }, 600);
      });
    </script>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
      <div
        id="contactToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="contactToastMessage" class="toast-body">
            Message placeholder.
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <!-- <script src="/js/script.js"></script> -->
    
    <script>
      // Due Date Reminder functionality
      (function() {
        const monthLinks = document.querySelectorAll('.month-link');
        const contentContainer = document.getElementById('dueDateReminderContent');
        const marqueeBox = document.getElementById('dueDateReminderMarquee');
        let currentMonth = 'all';

        // NOTE: For BLOGS we will render stored HTML as-is (including <a> tags),
        // so we don't need to strip HTML here.

        // Function to highlight selected month
        function highlightMonth(selectedMonth) {
          monthLinks.forEach(link => {
            link.classList.remove('active-month');
            if (link.getAttribute('data-month') === selectedMonth) {
              link.classList.add('active-month');
            }
          });
        }

        // Function to load and display due date reminders
        async function loadDueDateReminders(month = 'all') {
          try {
            const response = await fetch(`/api/due-date-reminders?month=${month}`);
            const result = await response.json();

            if (result.success && result.data && result.data.length > 0) {
              // Clear existing content
              contentContainer.innerHTML = '';

              // Create content items
              result.data.forEach(item => {
                // Date element
                const dateDiv = document.createElement('div');
                dateDiv.className = 'news mb-3 fw-semibold';
                dateDiv.textContent = item.date;

                // Content element
                const contentP = document.createElement('p');
                contentP.className = 'news fs-6 lh-base';
                // For BLOGS, render HTML content directly so that any <a> tags
                // inside the content are visible and clickable in the widget box.
                // This assumes the HTML stored for blogs is trusted.
                contentP.innerHTML = item.content || '';

                contentContainer.appendChild(dateDiv);
                contentContainer.appendChild(contentP);
              });

              // Restart marquee animation
              restartMarquee();
            } else {
              // No data available
              contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">No reminders available</div>';
            }

            // Highlight the selected month
            highlightMonth(month);
            currentMonth = month;
          } catch (error) {
            console.error('Error loading due date reminders:', error);
            contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">Error loading reminders</div>';
          }
        }

        // Function to restart marquee animation
        function restartMarquee() {
          const content = contentContainer;
          const box = marqueeBox;

          if (!box || !content) return;

          const boxHeight = box.offsetHeight;
          const contentHeight = content.scrollHeight;

          if (contentHeight > boxHeight) {
            const duration = (contentHeight / 50) * 1000;
            content.style.transform = `translateY(${boxHeight}px)`;
            content.style.animation = `marquee ${duration}ms linear infinite`;
          } else {
            content.style.animation = 'none';
            content.style.transform = 'translateY(0)';
          }
        }

        // Add click handlers to month links
        monthLinks.forEach(link => {
          link.addEventListener('click', function(e) {
            e.preventDefault();
            const month = this.getAttribute('data-month');
            loadDueDateReminders(month);
          });
        });

        // Load all reminders on page load
        window.addEventListener('DOMContentLoaded', function() {
          loadDueDateReminders('all');
        });

        // Also load when page is fully loaded (in case DOMContentLoaded already fired)
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', function() {
            loadDueDateReminders('all');
          });
        } else {
          loadDueDateReminders('all');
        }
      })();

      // NEWS functionality
      (function() {
        const contentContainer = document.getElementById('newsContent');
        const marqueeBox = document.getElementById('newsMarquee');

        // Function to remove HTML tags and get plain text
        function stripHtml(html) {
          const tmp = document.createElement('DIV');
          tmp.innerHTML = html;
          return tmp.textContent || tmp.innerText || '';
        }

        // Function to restart marquee animation
        function restartMarquee() {
          const content = contentContainer;
          const box = marqueeBox;

          if (!box || !content) return;

          const boxHeight = box.offsetHeight;
          const contentHeight = content.scrollHeight;

          if (contentHeight > boxHeight) {
            const duration = (contentHeight / 50) * 1000;
            content.style.transform = `translateY(${boxHeight}px)`;
            content.style.animation = `marquee ${duration}ms linear infinite`;
          } else {
            content.style.animation = 'none';
            content.style.transform = 'translateY(0)';
          }
        }

        // Function to load and display news
        async function loadNews() {
          try {
            const response = await fetch('/api/news');
            const result = await response.json();

            if (result.success && result.data && result.data.length > 0) {
              // Clear existing content
              contentContainer.innerHTML = '';

              // Create content items
              result.data.forEach(item => {
                // Date element
                const dateDiv = document.createElement('div');
                dateDiv.className = 'news mb-3 fw-semibold';
                dateDiv.textContent = item.date;

                // Content element
                const contentP = document.createElement('p');
                contentP.className = 'news fs-6 lh-base';
                // Strip HTML tags for display
                const plainContent = stripHtml(item.content);
                contentP.textContent = plainContent;

                // If there's a link URL, wrap content in a link
                if (item.linkUrl) {
                  const linkWrapper = document.createElement('a');
                  linkWrapper.href = item.linkUrl;
                  linkWrapper.target = '_blank';
                  linkWrapper.style.textDecoration = 'none';
                  linkWrapper.style.color = 'inherit';
                  linkWrapper.appendChild(contentP);
                  contentContainer.appendChild(dateDiv);
                  contentContainer.appendChild(linkWrapper);
                } else {
                  contentContainer.appendChild(dateDiv);
                  contentContainer.appendChild(contentP);
                }
              });

              // Restart marquee animation
              restartMarquee();
            } else {
              // No data available
              contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">No news available</div>';
            }
          } catch (error) {
            console.error('Error loading news:', error);
            contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">Error loading news</div>';
          }
        }

        // Load news on page load
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', loadNews);
        } else {
          loadNews();
        }
      })();

      // BLOGS functionality
      (function() {
        const contentContainer = document.getElementById('blogsContent');
        const marqueeBox = document.getElementById('blogsMarquee');

        // Function to restart marquee animation
        function restartMarquee() {
          const content = contentContainer;
          const box = marqueeBox;

          if (!box || !content) return;

          const boxHeight = box.offsetHeight;
          const contentHeight = content.scrollHeight;

          if (contentHeight > boxHeight) {
            const duration = (contentHeight / 50) * 1000;
            content.style.transform = `translateY(${boxHeight}px)`;
            content.style.animation = `marquee ${duration}ms linear infinite`;
          } else {
            content.style.animation = 'none';
            content.style.transform = 'translateY(0)';
          }
        }

        // Function to load and display blogs
        async function loadBlogs() {
          try {
            const response = await fetch('/api/blogs');
            const result = await response.json();

            if (result.success && result.data && result.data.length > 0) {
              // Clear existing content
              contentContainer.innerHTML = '';

              // Create content items
              result.data.forEach(item => {
                // Date element
                const dateDiv = document.createElement('div');
                dateDiv.className = 'news mb-3 fw-semibold';
                dateDiv.textContent = item.date;

                // Content element wrapper (use div so any <p> inside content is valid)
                const contentDiv = document.createElement('div');
                contentDiv.className = 'news fs-6 lh-base';
                // For BLOGS, render HTML content directly so any <a> tags in the
                // content are visible and clickable in the widget box.
                // Assumes the BLOGS HTML stored in DB is trusted.
                contentDiv.innerHTML = item.content || '';

                contentContainer.appendChild(dateDiv);
                contentContainer.appendChild(contentDiv);
              });

              // Restart marquee animation
              restartMarquee();
            } else {
              // No data available
              contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">No blogs available</div>';
            }
          } catch (error) {
            console.error('Error loading blogs:', error);
            contentContainer.innerHTML = '<div class="news mb-3 fw-semibold">Error loading blogs</div>';
          }
        }

        // Load blogs on page load
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', loadBlogs);
        } else {
          loadBlogs();
        }
      })();
    </script>

    <script src="/js/script_form.js"></script>
    
    <style>
      /* Highlight style for selected month */
      .month-link.active-month {
        background-color: #0A5073;
        color: white !important;
        padding: 2px 8px;
        border-radius: 3px;
        font-weight: bold;
      }
      .month-link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        transition: all 0.2s ease;
      }
      .month-link:hover {
        color: #0A5073;
      }

      /* Owl Carousel Services Custom Styles */
      .services-carousel {
        padding: 20px 0;
      }

      .services-carousel .owl-stage {
        display: flex;
        align-items: stretch;
      }

      .services-carousel .owl-item {
        padding: 0 10px;
        display: flex;
        align-items: stretch;
        height: auto;
      }

      .services-carousel .owl-item > .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .services-carousel .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 8px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }

      .services-carousel .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .services-carousel .card-title {
        flex-shrink: 0;
      }

      .services-carousel .card-text {
        flex: 1;
      }

      .services-carousel .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
      }

      .services-carousel .owl-nav {
        margin-top: 30px;
        text-align: center;
      }

      .services-carousel .owl-nav button {
        background-color: #0A5073 !important;
        color: white !important;
        width: 45px;
        height: 45px;
        border-radius: 50% !important;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        border: none;
        font-size: 18px;
      }

      .services-carousel .owl-nav button:hover {
        background-color: #0A5073 !important;
        transform: scale(1.1);
      }

      

      .services-carousel .owl-nav button:focus {
        outline: none;
      }

      .services-carousel .owl-dots {
        display: none !important;
      }

      .services-carousel .owl-dots button.owl-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #dee2e6 !important;
        margin: 0 5px;
        transition: all 0.3s ease;
        border: none;
      }

      .services-carousel .owl-dots button.owl-dot.active {
        background-color: #0A5073 !important;
        width: 30px;
        border-radius: 6px;
      }

      .services-carousel .owl-dots button.owl-dot:focus {
        outline: none;
      }

      @media (max-width: 768px) {
        .services-carousel .owl-nav {
          margin-top: 20px;
        }
        .services-carousel .owl-nav button {
          width: 35px;
          height: 35px;
          font-size: 14px;
          margin: 0 5px;
        }
      }
    </style>
  </body>
</html>
