<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
   
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Chartered Accountant - Home</title>
  </head>

  <body>
    <main>
      <!-- Nav bar -->
      <!-- <nav
        class="navbar fixed-top navbar-expand-lg bg-light"
        data-aos="fade-down"
        data-aos-duration="900"
        data-aos-delay="100"
      >
        <div class="container">
          <a
            class="navbar-brand"
            href="#"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <img
              src="/images/logo.png"
              alt="logo"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
              <li class="nav-item" data-aos="fade-down" data-aos-delay="250">
                <a
                  class="nav-link fs-6 text-uppercase active"
                  aria-current="page"
                  href="#"
                  >Home</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="300">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >About Us</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  href="javascript:void(0)"
                  class="nav-link fs-6 text-uppercase text-black"
                  >Services</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="fs-6 text-black">Income Tax Filing </a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Investment &amp; Financial Planning
                    </a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black">Retirement Planning</a>
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >GST Registration &amp; GST Returns Filing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >NRI Income Tax Filing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Company Incorporation &amp; Annual Filings</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black"
                      >Book keeping &amp; Outsourcing</a
                    >
                  </li>
                  <li>
                    <a href="#" class="fs-6 text-black">TDS Return Filing</a>
                  </li>
                </ul>
                <span class="arow"></span><span class="arow"></span>
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="400">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Faq</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="450">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Career</a
                >
              </li>

              <li class="nav-item" data-aos="fade-down" data-aos-delay="500">
                <a class="nav-link fs-6 text-uppercase text-black" href="#"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav> -->

      <%- include("./components/header.ejs") %>

      <!-- fixed toggle button -->
      <div class="fix-box">
        <ul class="social-fx">
          <li>
            <a href="#"
              ><strong>Query</strong>
              <span
                ><img
                  src="https://www.vsmllp.com/resource/Image/qr.png" /></span
            ></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><strong>Career</strong>
              <span
                ><img
                  src="https://www.vsmllp.com/resource/Image/career.png" /></span
            ></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><strong>Whats App</strong>
              <span
                ><img
                  src="https://www.vsmllp.com/resource/Image/wh.png" /></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><strong>Contact Us</strong>
              <span
                ><img
                  src="https://www.vsmllp.com/resource/Image/co.png" /></span
            ></a>
          </li>
        </ul>
      </div>


      <!-- Carousel (NO animation - as per CA template style) -->
      <div
        id="carouselExampleInterval"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="/images/carousel/slider.png"
              class="d-block w-100 h-100 cover"
              alt="Chartered Accountancy"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="/images/carousel/ca.jpg"
              class="d-block w-100 h-100 cover"
              alt="The Role of Chartered Accountant in Nation's Progress"
            />
          </div>
           <div class="carousel-item" data-bs-interval="3000">
            <img
              src="/images/carousel/Nation-Progress.jpg"
              class="d-block w-100 h-100 cover"
              alt="Accounting Services Infographic"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- About Section -->
      <div class="container" data-aos="fade-up">
        <div class="mx-auto text-center py-5">
          <h2 class="main-title lh-base" data-aos="fade-up">
            Welcome to <br />
            <span
              class="text-blue fw-bold primary"
              data-aos="fade-up"
              data-aos-delay="100"
              >Agarwal Vishnu & Co</span
            >
          </h2>

          <p
            class="about-desc my-5 lh-lg"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <b></b>A V CO</b> believes in staying ahead in this vibrant and evolving
economic world to offer you the most consistent and prompt
quality services. This philosophy is backed by experienced and
motivated professionals with matching expertise. We partner
our clients' Business with dedicated attention and provide
"value for money" solutions in the areas of back office
outsourcing and consulting. We are committed to provide
consistent, customized and workable solution to our clients
and strive to support our services with the highest level of
professionalism, effciency and technology. Our values are:
value beyond services Integrity, Accountability ,Confidentiality,
Proactiveness ,Innovativeness
          </p>

          <!-- <div data-aos="fade-up" data-aos-delay="300">
            <a href="javascript:void(0)" class="text-center about-link"
              >Read More <i class="fa-solid fa-angle-right"></i
            ></a>
          </div> -->
        </div>
      </div>

      <!-- Services Section -->
     <div class="service-bg">
        <div class="container">
          <div class="mx-auto text-center py-5">
            <h2 class="title lh-base" data-aos="fade-up">
              Our <br />
              <span class="text-blue fw-bold primary">SERVICES</span>
            </h2>

            <p class="desc mt-2 fs-6" data-aos="fade-up" data-aos-delay="100">
             We understand that for any organization to be successful SERVICE is the key factor and hence we always strive hard to provide our clients the best possible services at each and every stage of their business.
            </p>

            <div class="my-5 container-fluid">
              <div class="row">
                <!-- Service Cards -->
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <!-- <img
                        src="https://i.ibb.co/xq0zmvFj/smileys.png"
                        class="card-img-top w-100 h-100 cover rounded"
                      /> -->
                      <i class="fa-solid fa-magnifying-glass-chart text-primary fs-1"></i>

                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                        Audit and Assurance
                      </h5>
                      <p class="card-text fw-normal">
                        Audit checks financial accuracy.Assurance increases users’ confidence.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-user-check text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Internal audit
                      </h5>
                      <p class="card-text fw-normal">
                       Internal audit evaluates risks and strengthens internal control systems.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-file-invoice-dollar text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Direct Tax
                      </h5>
                      <p class="card-text fw-normal">
                       Direct tax is paid directly to the government by individuals.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Row 2 same pattern -->
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-cart-shopping text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                       Indirect Tax
                      </h5>
                      <p class="card-text">Indirect tax is collected through goods and services purchased.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-globe text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                        International Taxation
                      </h5>
                      <p class="card-text">International taxation governs cross-border income and tax obligations.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <i class="fa-solid fa-scale-balanced text-primary fs-1"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3">
                        Legal & Secretarial compliances
                      </h5>
                      <p class="card-text">Legal and secretarial compliances ensure proper governance and regulatory adherence.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Client Section -->
      <div class="container">
        <div class="mx-auto text-center py-5" data-aos="fade-up">
          <h2 class="main-title lh-base fw-bold">What client Say</h2>

          <div class="row align-items-center mt-5">
            <div class="col-12 col-md-6" data-aos="fade-right">
              <img
                src="https://caportal.saginfotech.com/caportal/ca-template-79/images/clients-home.png"
                alt="client"
              />
            </div>

            <div
              class="col-12 col-md-6"
              data-aos="fade-left"
              data-aos-delay="150"
            >
              <div class="testimonalSlider">
                <!-- Slider stays same -->
                <div
                  id="carouselExampleCaptions"
                  class="carousel slide"
                  data-bs-ride="false"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content...</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content...</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="text-left d-flex">
                        <i class="fa-solid fa-quote-left quote-icon"></i>
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content...</p>
                      </div>
                    </div>
                  </div>

                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5 8.25 12l7.5-7.5"
                      />
                    </svg>
                  </button>

                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- News Section -->
      <div class="container">
        <div class="mx-auto text-center py-5" data-aos="fade-up">
          <h2 class="main-title lh-base fw-bold">
            News, Due Date Reminder and Blog
          </h2>
        </div>

        <div class="row">
          <div
            class="col-12 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <div class="border border-secondary border-opacity-50 border-top-0">
              <div class="newsTitle">NEWS</div>
              <div class="newsBody">
                <div class="marquee-box">
                  <div class="marquee-content">
                    <div class="news mb-3 fw-semibold">14 DEC 2025</div>
                    <p class="news fs-6 lh-base">Govt Informs 15th FFC...</p>
                    <p class="news fs-6 lh-base">
                      Will Nirmala Sitharaman increase GST rates?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

         

          <div
            class="col-12 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="10"
          >
            <div class="border border-secondary border-opacity-50 border-top-0">
              <div class="newsTitle">NEWS</div>
              <div class="newsBody">
                <div class="marquee-box">
                  <div class="marquee-content">
                    <div class="news mb-3 fw-semibold">14 DEC 2025</div>
                    <p class="news fs-6 lh-base">Govt Informs 15th FFC...</p>
                    <p class="news fs-6 lh-base">
                      Will Nirmala Sitharaman increase GST rates?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-12 col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="250"
          >
            <div class="border border-secondary border-opacity-50 border-top-0">
              <div class="newsTitle">NEWS</div>
              <div class="newsBody">
                <div class="marquee-box">
                  <div class="marquee-content">
                    <div class="news mb-3 fw-semibold">14 DEC 2025</div>
                    <p class="news fs-6 lh-base">Govt Informs 15th FFC...</p>
                    <p class="news fs-6 lh-base">
                      Will Nirmala Sitharaman increase GST rates?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Section -->
      <div class="team-bg">
        <div class="container">
          <div class="mx-auto text-center py-5" data-aos="fade-up">
            <h2 class="title lh-base fw-bold">Our Team</h2>

            <p data-aos="fade-up" data-aos-delay="100" class="desc">
               Our team comprises of competent professionals with extensive
            knowledge, calibre and experience who specializes in their
            respective fields.
            </p>

            <div class="container-fluid mt-5">
              <div class="row">
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <img
                      src="/images/teams/team1.jpg"
                      class="card-img-top w-100 h-100 cover rounded"
                    />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Vishnu Agarwal B.Com. and F.C.A
                      </h5>
                      <p class="card-text">With over 10 years of varied experience with most of his stint at one of the Big Four
multinational accounting firm in the field of statutory audit, taxation, internal audit
and due diligence.
He has successfully handle various assignments related to preparation of
Financial Statement (IND AS and IGAAP) , Implementation of Ind AS,
Consolidations of financial statements, Group reporting, Certification, Due
diligence, Review of internal controls over financial reporting (IFC), IFC
implementation, Income Tax and GST etc. at various listed companies as well as
on- listed large and SME clients in manufacturing, retail and hospitality industry.</p>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <img
                        src="https://i.ibb.co/xq0zmvFj/smileys.png"
                        class="card-img-top w-100 h-100 cover rounded"
                      />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Card title
                      </h5>
                      <p class="card-text">Some quick example...</p>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250">
                  <div class="card shadow-sm p-4 mb-4">
                    <div class="w-6 h-6 mx-auto mb-3">
                      <img
                        src="https://i.ibb.co/xq0zmvFj/smileys.png"
                        class="card-img-top w-100 h-100 cover rounded"
                      />
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 primary">
                        Card title
                      </h5>
                      <p class="card-text">Some quick example...</p>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div
                class="d-flex justify-content-center align-content-center"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <button
                  class="more-btn p-2 rounded-5 bg-primary text-white border-0"
                >
                  More Details
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- get in touch -->
      <div class="container">
        <div class="mx-auto py-5" data-aos="fade-up">
          <h2 class="title lh-base fw-bold mb-4 text-center">Get In Touch</h2>
          <div class="row">
            <div class="col-md-6 col-12">
              <div>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31418.6!2d72.869271!3d19.285504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c82c4e8a6b43%3A0x0!2sVinay%20Nagar%2C%20Mira%20Road%20East%2C%20Maharashtra%20401107!5e0!3m2!1sen!2sin!4v1698700000000"
                  width="100%"
                  height="450"
                  style="border: 0; min-height: 450px"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <form id="contactForm" novalidate>
                <div class="mb-3">
                  <label for="contactName" class="text-left form-label"
                    >Your Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="contactName"
                    name="name"
                    placeholder="Name"
                    maxlength="100"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="name"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactPhone" class="text-left form-label"
                    >Your Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="contactPhone"
                    name="phone"
                    placeholder="+91 9876543210"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="phone"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactEmail" class="text-left form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="contactEmail"
                    name="email"
                    placeholder="name@example.com"
                    required
                  />
                  <small
                    class="text-danger d-none"
                    data-error-for="email"
                  ></small>
                </div>
                <div class="mb-3">
                  <label for="contactMessage" class="text-left form-label"
                    >Message</label
                  >
                  <textarea
                    class="form-control"
                    id="contactMessage"
                    name="message"
                    rows="4"
                    placeholder="Type here.."
                    maxlength="2000"
                    required
                  ></textarea>
                  <small
                    class="text-danger d-none"
                    data-error-for="message"
                  ></small>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    id="contactSubmit"
                    type="submit"
                    class="more-btn py-2 px-4 rounded-5 bg-primary text-white border-0 sh"
                  >
                    Submit
                  </button>
                </div>
                <p
                  class="text-muted text-center small mt-3"
                >
                  We respect your privacy. Your information stays confidential with
                  us.
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        offset: 100,
      });
    </script>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
      <div
        id="contactToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="contactToastMessage" class="toast-body">
            Message placeholder.
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
