<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Chartered Accountant </title>
  </head>

  <body>
    <main>
      <!-- Nav bar -->
      <%- include("./components/header.ejs") %>

     <div class="banner-section">
        <div class="service-bnr">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="dotted-bg">
                  <img src="/images/dotted.png" />
                  <div class="main-heading">Corporate Law, Secretarial <br> & FEMA Compliance</div>
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="sec-bg">
                  <img src="/images/audit-bg-7.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- About Section -->
      <div class="container are-container" data-aos="fade-up">
        <div class="mx-auto py-5">
          <div class="row pt-5 align-items-center">
            <div class="col-md-4 col-12">
              <div class="vl"></div>
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                <!-- <h3>Enterprise Risk Management</h3> -->
                <p>A company incorporated in India, whether domestic or with cross-border linkages, is required to comply with an extensive framework of laws including the Companies Act, 2013, Foreign Exchange Management Act (FEMA), SEBI regulations and a host of central and state labour legislations. We provide end-to-end company secretarial, FEMA and labour law compliance support – from initial setup and structuring, through day-to-day operations, to closure, liquidation or restructuring.</p>
              </div>
              <div class="descBox">
                 <h3>1. Set-up & Entity Structuring Services</h3>
               <ul >
            <li><p>Incorporation of Companies, Subsidiaries, Joint Ventures, LLPs and Partnership firms</p></li>
  <li><p>Setting up Liaison / Branch / Project Offices in India</p></li>
  <li><p>Assistance in setting up overseas entities</p></li>
  <li><p>Setting up 100% subsidiaries of overseas companies in India</p></li>
  <li><p>Initial tax and regulatory registrations</p></li>
  <li><p>Approvals and filings with RBI and other regulatory authorities for foreign investment</p></li>

         </ul>
          <h3>2. Secretarial & Corporate Compliance Services</h3>
               <ul>
            <li><p>Drafting of Board and Shareholder Resolutions and Minutes</p></li>
  <li><p>Periodic filings and statutory reporting with the Registrar of Companies (MCA), including all relevant e-forms</p></li>
  <li><p>Maintenance and updating of statutory records and registers</p></li>
  <li><p>Assistance with Digital Signature Certificates and digital certifications</p></li>
  <li><p>Annual filings, including XBRL reporting with the Registrar of Companies</p></li>
  <li><p>Secretarial compliance audit assistance and Secretarial Audit</p></li>
  <li><p>Acting as Scrutinizer for e-voting and Postal Ballot</p></li>
  <li><p>ROC search and preparation of charge reports</p></li>
  <li><p>Corporate due diligence for investment, acquisition and lending transactions</p></li>
         </ul>
              </div>
            </div>
            </div>
             <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>Corporate Actions & Transaction Support</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                
                
                
                
              </div>
              <div class="descBox">
                
                <ul>
            <li><p>Preparation and filing of various e-forms under the Companies Act, 2013 on the MCA portal</p></li>
  <li><p>XBRL filing with the Registrar of Companies</p></li>
  <li><p>Increase in authorised share capital</p></li>
  <li><p>Compliance relating to issue and allotment of shares and other securities</p></li>
  <li><p>Buy-back of shares – planning, documentation and compliances</p></li>
  <li><p>Planning, documentation and implementation of ESOP schemes</p></li>
  <li><p>Shifting of registered office (within city/state/cross state)</p></li>
  <li><p>Change of name of the company</p></li>
  <li><p>Alteration of Memorandum and Articles of Association (MOA & AOA)</p></li>
         </ul>
              </div>
            </div>
            </div>
             <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>Winding-up, Closure & Revival</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                
                
              </div>
              <div class="descBox">
                
               <ul>
             <li><p>Winding up of companies (voluntary and compulsory, as applicable)</p></li>
  <li><p>Striking-off of companies from the Register of Companies</p></li>
  <li><p>Closure of Limited Liability Partnerships (LLPs)</p></li>
  <li><p>Liquidation and strike-off support</p></li>
  <li><p>Revival of struck-off companies</p></li>
  <li><p>Compounding matters under the Companies Act</p></li>
         </ul>
              </div>
            </div>

</div>
             <div class="row">
              <div class="col-md-4 col-12 ">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>NCLT / NCLAT Support</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                
                
                
              </div>
              <div class="descBox">
                
               <ul>
          
            <li><p>Drafting and filing of petitions, applications and related documents before NCLT / NCLAT
</p></li><li><p>	Appearance and assistance in various matters before NCLT / NCLAT
</p></li>
         </ul>
              </div>
              
              
            </div>


             <div class="row">
            <div class="col-md-4 col-12 ">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>SEBI & Certification Services</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                
                
                
              </div>
              <div class="descBox">
                
               <ul>
                <li><p>Certification of various e-forms under the Companies Act and allied laws</p></li>
  <li><p>SEBI-related compliances (as applicable)</p></li>
           

         </ul>
              </div>
            </div>
            </div>


             <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>Legal Support & Documentation</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              <div class="text-left">
                
              
              </div>
              <div class="descBox">
                
               <ul>
             <li><p>Drafting and vetting of Non-Disclosure Agreements (NDAs)</p></li>
  <li><p>Drafting / vetting of commercial agreements including royalty, licensing and service arrangements</p></li>
  <li><p>Drafting of Gift Deeds, Partnership Deeds, LLP Agreements, Memoranda of Understanding, Sale–Purchase Agreements, Leave and Licence/Lease Agreements and Joint Venture Agreements</p></li>
  <li><p>Drafting of Shareholders’ Agreements (SHA), Share Subscription Agreements (SSA) and related transaction documents</p></li>
  <li><p>Document review and legal research support</p></li>
  <li><p>Title search reports and Trade Mark search reports</p></li>
         </ul>
              </div>
            </div>
            </div>


            <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>FEMA, FDI & RBI Compliance</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              
              <div class="descBox">
                
               <ul>
                <li><p>FEMA advisory and compliance management</p></li>
  <li><p>Advance reporting to RBI for receipt of foreign investment and allotment of shares</p></li>
  <li><p>Preparation and filing of Form FC-GPR / FC-TRS for companies and LLPs</p></li>
  <li><p>Annual Return on Foreign Liabilities and Assets (FLA)</p></li>
  <li><p>Quarterly, half-yearly and annual submissions to RBI for NBFCs and other regulated entities</p></li>
  <li><p>Drafting replies to notices / letters issued by the Reserve Bank of India</p></li>
<li><p>Compounding applications and support under FEMA regulations
</p></li>
         </ul>
              </div>
            </div>
            </div>


            <div class="row">
            <div class="col-md-4 col-12 pt-5">
              <div class="text-left">
                <div class="v2" ></div>
                <h4>Labour Law, New Labour Codes & Employment Law Compliances</h4>
              </div>
              
            </div>
            <div class="col-md-8 col-12">
              
              <div class="descBox">
                <p>We assist in registrations, ongoing compliances, audits, transition support to the new labour codes and advisory under central and state labour laws, including but not limited to:</p>
                 <h3>Traditional Labour & Employment Laws</h3>
               <ul>
                <li><p>Factories Act, 1948</p></li>
  <li><p>Employees’ Provident Fund & Miscellaneous Provisions Act, 1952</p></li>
  <li><p>Employees’ State Insurance Act, 1948</p></li>
  <li><p>Contract Labour (Regulation & Abolition) Act, 1970</p></li>
  <li><p>Building and Other Construction Workers (Regulation of Employment and Conditions of Service) Act, 1996</p></li>
  <li><p>Minimum Wages Act, 1948</p></li>
  <li><p>Payment of Wages and related compliances</p></li>
  <li><p>Payment of Bonus Act, 1965</p></li>
  <li><p>Payment of Gratuity Act, 1972</p></li>
  <li><p>Industrial Disputes and Standing Orders related compliances</p></li>
  <li><p>Maharashtra Workmen’s Minimum HRA Act, 1983</p></li>
  <li><p>Bombay Labour Welfare Fund Act, 1953</p></li>
         </ul>
         <h3>Recently Notified Labour Codes – Advisory & Transition Support</h3>
               <ul>
               <li><p>Code on Wages, 2019 – advisory on definition of wages, structuring of CTC, compliance framework and impact on existing wage and incentive structures</p></li>
  <li><p>Industrial Relations Code, 2020 – advisory on standing orders, retrenchment/lay-off provisions, dispute resolution and compliance processes</p></li>
  <li><p>Occupational Safety, Health and Working Conditions (OSH) Code, 2020 – alignment of health, safety and working condition compliances, especially for factories and establishments</p></li>
  <li><p>Code on Social Security, 2020 – impact assessment on EPF, ESI, gratuity and other social security benefits; advisory on coverage, contributions and documentation</p></li>

         </ul>
         <h3>Our Labour & Employment Support Includes</h3>
          <ul>
               <li><p>Advisory on applicability and impact of central/state labour laws and labour codes</p></li>
  <li><p>Registrations and licences under applicable labour laws and codes</p></li>
  <li><p>Periodic compliance reviews, health checks and audit assistance</p></li>
  <li><p>Drafting and review of HR policies, standing orders and employment documentation in line with labour laws and labour codes</p></li>
  <li><p>Assistance in handling inspections, notices and enquiries from labour authorities</p></li>
  <li><p>Representation and drafting of replies / submissions before labour authorities</p></li>

         </ul>
         <p>Our objective is to provide integrated, practical and forward-looking compliance support so that promoters, directors and HR/finance teams can confidently manage their corporate, FEMA and labour law obligations in the evolving regulatory environment.</p>
              </div>
            </div>
            </div>


          </div>
        </div>
      </div>


      <!-- Services Section -->
       <!-- Services Section -->
      <div class="service-bg">
        <div class="container">
          <div class="mx-auto text-center py-5">
            <h2 class="title lh-base" data-aos="fade-up">
              
              <span class="text-blue fw-bold primary">OTHER SERVICES</span>
            </h2>

           

            <div class="my-5 container-fluid">
              <div class="row">

                 <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 mb-4 h-100">
                    <a  href="/Services/audit-and-assurance" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Audit & Assurance
                      </h5>
                      <p class="card-text fw-normal text-black">
                        Auditing is a highly complex process..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <!-- Service Cards -->
                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/internal-audit" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                      Internal audit and Risk Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                        Enterprise risk management (ERM)..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/direct-tax" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                      Direct Tax, Disputes & Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                        We provide various Advisory services..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/international-taxation" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Cross-border Tax, TP & FEMA Advisory
                      </h5>
                      <p class="card-text fw-normal text-black">
                       We support and advise on various tax..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/indirect-tax" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       GST and litigations
                      </h5>
                      <p class="card-text fw-normal text-black">
                       We provide comprehensive advisory and compliance..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>



                

                <!-- Row 2 same pattern -->

               

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                  <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/outsourcing-solutions" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                       Global Outsourcing & Virtual CFO Services
                      </h5>
                      <p class="card-text fw-normal text-black">
                      Business process outsourcing has become..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>

                <div class="col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="50">
                 <div class="card service-card shadow-sm p-4 h-100 mb-4" style="min-height: auto;
">
                    <a  href="/Services/backoffice" target="">
                    <div class="w-6 h-6 mx-auto mb-3  bx-ser">
                      <i class="fa fa-gear fa-spin"></i>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-semibold fs-5 mb-3 text-primary">
                      Global Back-office solutions
                      </h5>
                      <p class="card-text fw-normal text-black">
                       Ad-hoc changes and employee exit..
                      </p>
                    </div>
                  </a>

                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>


    

      <!-- Footer -->
      <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        offset: 100,
      });
    </script>

    <script src="/js/script.js"></script>
  </body>
</html>

