<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1"
      name="viewport"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Chartered Accountant - Contact Us</title>
  </head>


  <body>
    <main>
      <!-- Nav bar -->
     <%- include("./components/header.ejs") %>

      <!-- Query form -->
      <div class="container careers-page">
        <div class="card p-4">
          <div class="text-center">
            <h5 class="fs-3 text-primary mb-4">::Query Sheet::</h5>
           
          </div>
          <form
            id="queryForm"
            class="row g-3 careers-form"
            novalidate
          >
            <div class="col-md-6 col-12">
              <label for="inputname1" class="form-label"
                > Name <span>*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="inputname1"
                name="name"
                maxlength="100"
                required
              />
              <small class="text-danger d-none" data-query-error="name"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputname2" class="form-label"
                >Designation</label
              >
              <input
                type="text"
                class="form-control"
                id="inputname2"
                name="designation"
                maxlength="100"
              />
              <small class="text-danger d-none" data-query-error="designation"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputOrganization" class="form-label"
                >Organization </label
              >
              <input
                type="text"
                class="form-control"
                id="inputOrganization"
                name="organization"
                maxlength="150"
              />
              <small class="text-danger d-none" data-query-error="organization"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputAddress" class="form-label"
                >Office Address </label
              >
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                name="officeAddress"
                maxlength="255"
              />
              <small class="text-danger d-none" data-query-error="officeAddress"></small>
            </div>
             <div class="col-md-6 col-12">
              <label for="inputCity" class="form-label"
                >City <span>*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="inputCity"
                name="city"
                maxlength="100"
                required
              />
              <small class="text-danger d-none" data-query-error="city"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputEmail4" class="form-label"
                >Email address <span>*</span></label
              >
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                name="email"
                maxlength="150"
                required
              />
              <small class="text-danger d-none" data-query-error="email"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputtelephoneno" class="form-label"
                >Telephone No </label
              >
              <input
                type="tel"
                class="form-control"
                id="inputtelephoneno"
                name="telephoneNo"
                maxlength="20"
              />
              <small class="text-danger d-none" data-query-error="telephoneNo"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputmobno" class="form-label"
                >Mobile No <span>*</span></label
              >
              <input
                type="tel"
                class="form-control"
                id="inputmobno"
                name="mobileNo"
                maxlength="20"
                required
              />
              <small class="text-danger d-none" data-query-error="mobileNo"></small>
            </div>
            <div class="col-md-6 col-12">
              <label for="inputopu" class="form-label"
                >Other professional updates <span>*</span></label
              >
              <div class="d-flex align-items-center gap-3">
                <div>
                  <input
                    type="radio"
                    id="inputopuyes"
                    name="otherProfessional"
                    value="YES"
                    checked
                  />
                  <label for="inputopuyes" class="mb-0">Yes</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="inputopuno"
                    name="otherProfessional"
                    value="NO"
                  />
                  <label for="inputopuno" class="mb-0">No</label>
                </div>
              </div>
              <small class="text-danger d-none" data-query-error="otherProfessional"></small>
            </div>
            
            <div class="col-md-6 col-12">
              <label for="inputState" class="form-label"
                >Subject of Query <span>*</span></label
              >
              <select
                id="inputState"
                name="subjectQuery"
                class="form-select"
                required
              >
                <option selected value="">-----Please Select-----</option>
						<option value="Income Tax">Income Tax</option>
						<option value="Audit">Audit</option>
						<option value="Service Tax">Service Tax</option>
						<option value="Company Law">Company Law</option>
						<option value="Excise Duty">Excise Duty</option>
						<option value="Customs">Customs</option>
						<option value="Wealth Tax">Wealth Tax</option>
						<option value="Sales Tax/Value Added Tax">Sales Tax/Value Added Tax</option>
						<option value="FEMA">FEMA</option>
						<option value="RBI">RBI</option>
						<option value="Labour Law">Labour Law</option>
						<option value="Others">Others</option>

              </select>
              <small class="text-danger d-none" data-query-error="subjectQuery"></small>
            </div>
            
            <div class="col-md-12 col-12">
              <div class="upload-btn">
                <label for="inputZip" class="form-label"
                  >Query <span>*</span> </label
                >
                <textarea
                  class="form-control"
                  id="query"
                  name="queryText"
                  rows="4"
                  required
                ></textarea>
                <small class="text-danger d-none" data-query-error="queryText"></small>
              </div>
            </div>
            <div
              class="col-12 d-flex justify-content-center align-items-center mt-5"
            >
              <button
                id="querySubmit"
                type="submit"
                class="btn btn-primary fs-5"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Footer -->
       <%- include("./components/footer.ejs") %>
    </main>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        offset: 100,
      });
    </script>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
      <div
        id="queryToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="queryToastMessage" class="toast-body">
            Message placeholder.
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
