@import "../node_modules/bootstrap/scss/bootstrap";
/* ---------- RESET ---------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---------- BODY ---------- */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ---------- IMAGE FIX ---------- */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.primary{
  color: #0A5073;
}
.secondary{
  color: #000000;
}

.footer-bg{
  background-color: #111111;
}

// header css
.navbar{
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-bottom: 1px solid #fff;
}
.navbar-toggler{
      color: #fff;
    background: #fff;
}
.navbar-brand{
  img{
    width: 125px;
  }
}

 .nav-item {
    position: relative;
  }


.nav-link{
  color: #ffffff !important;
  font-weight: 700;
}
.navbar-nav > li:hover > a:after{
    background: #0A5073;
    width: 80%;
    left: 10%;
}
.navbar-nav > li:hover > a {
    color: #0A5073 !important;
}
.navbar-nav > li > a:after{
    display: block;
    content: "";
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    -webkit-transition: all 0.5s 
ease-in-out;
    transition: all 0.5s 
ease-in-out;
    background: transparent;
}

 .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background: #f8f9fa;
  color: #667eea;
  padding-left: 25px;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  transition: transform 0.3s ease;
}

//  fixed toggle button css start now
.fix-box{ position: fixed; top:35%; left:0; z-index:999; font-size: 14px;}
.whats-new{color: #fff;
   background:#242c42;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0px; width: 154px; padding-left: 10px; margin-left: -110px; transition:0.5s;}
	
.whats-new span{ width: 45px;
    height: 45px;
    display: inline-block;
    background: #e64a54;
    text-align: center;
    line-height: 44px;
    margin-left: 9px;}
	
.whats-new a{ color:#fff;}
.whats-new:hover{ margin-left:0; transition:0.5s;}

.social-fx{list-style:none; padding-left:0; margin:0;}
.social-fx li{ background: #111;
    width: 148px;
    padding-left: 10px;
    clear: both;
    height: 42px;
    line-height: 48px;
    margin-top: 2px;
    margin-left: -104px;
    transition: 0.5s;
    overflow: hidden;}
.social-fx li a{ color:#fff;}
.social-fx li strong{ font-weight:normal;}
.social-fx li span{ float: right; margin-top: -3px;}
.social-fx li:hover{ margin-left:0; transition:0.5s;}
//  fixed toggle button css end now


.carousel-item{
  min-height: 650px;
  height: 650px;
}

.main-title{
  font-size: 2rem;
  position: relative;
  span{
    font-size: 3rem;
  }
  &::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #0A5073;
  }
  &::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0A5073;
    box-shadow: 0 0 0 5px #fff;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.desc{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 120px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #0A5073;
  }
  &::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0A5073;
    box-shadow: 0 0 0 5px #fff;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about-desc{
  max-width: 800px;
  margin: auto;
  @media screen and (max-width: 991px) {
    max-width: 100%;
  }
}
.about-link{
  text-decoration: none;
}
.news-box{
  table{
    margin-top: 20px;
    td{
          padding: 4px 10px;
      a{
        text-decoration: none;
      }
    }
  }
}
.newsTitle{
  background-color: #0580c6;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  &::after{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #0580c6;
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
  }
}
.newsBody{
  padding: 30px 15px;
}

.testimonalSlider{
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .1);
  position: relative;
  display: block;
  padding: 3rem;
  .carousel-item {
    min-height: auto;
    height: auto;
  }
  .carousel-caption {
    position: relative;
    right: 0;
    bottom: 1.25rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
        margin-top: 1.5rem;

        h5{
          font-size: 1.5rem;
          color: #000000;
        }
        p{
          font-size: 1rem;
          color: #333;
        }
  }
  .carousel-control-prev {
    right: 25px;
    left: auto;
}
}
.quote-icon{
    height: 80px;
    width: 80px !important;
    border-radius: 50%;
    background: #f5f5f5;
    color: #18ba60;
    font-size: 25px;
    line-height: 80px !important;
    display: inline-block !important;
    text-align: center;
    margin-bottom: 25px;
}
.carousel-item{
  h5{
    color: #0A5073;
    font-size: 1rem;
  }
  p{
    color: #777;
  }
}
.testimonalSlider{
.carousel-control-prev, .carousel-control-next{
  color: #18ba60 !important;
  opacity: 1;
      width: 20px;
    height: 20px;
}
}
.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus{
  opacity: 1;
}

.service-bg, .team-bg{
  background-color: #f6f6f6;
}

.copyright {
    border-top: 1px solid #393939;
    padding: 15px 0;
    text-align: center;
    margin-top: 15px;
}

.marquee-box {
    height: 140px;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    position: absolute;
    width: 100%;
}

.marquee-box:hover .marquee-content {
    animation-play-state: paused !important;
}
  @keyframes marquee {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.service-bnr{
  background-image: url(../src/assets/images/black-bg.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  position: relative;
  .sec-bg{
    width: 180%;
    border-radius: 10px;
    position: relative;
    float: left;
    top: 85px;
    right: 0;
    @media screen and (max-width:991px) {
      display: none;
    }
    img{
      border-radius: 8px;
    }
  }
  .dotted-bg{
    margin-top: 90px;
    margin-left: 60px;
  }
  .main-heading{
    position: absolute;
    left: 12%;
    top: 50%;
    z-index: 2;
    padding: 8px 0;
    color: #0A5073;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    &:after{
    position: absolute;
    border: 2px solid #0A5073;
    border-radius: 46px;
    left: 6px;
    top: -10px;
    content: "";
    width: 45px;
    }
  }
}


footer{
  .nav-item{
    .nav-link{
      &:hover{
        color: #0A5073 !important;
      }
    }
    
  }
 .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
} .social-links a .fa{ margin-right:0px;} .social-links a:hover {
  background: #0A5073;
  color: #fff;
}
}
.copyright {
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    margin: 0;
    // background-color: #000000;
}

.banner-section{
  position: relative;
  .img-bnr{
    height: 450px;
    position: relative;
    img{
          position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: #09090a;
    }
  }
  .title{
    position: absolute;
    color: #282828;
    top: 150px;
    z-index: 9;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }
}
.are-container{
  .are-we-bnr{
    height: 350px;
    @media screen and (max-width:991px) {
      height: 250px;
    }
  }
}
.map-sec{
  text-align: center;
  @media screen and (max-width:991px) {
    iframe{
    width: 280px;
    height: 240px;
    text-align: center;
            margin-bottom: 30px;
    }
  }
}

.careers-page{
  padding: 8rem 0;
  .careers-form{
    label{
      font-weight: 600;
      color: #000;
      span{
        color: red;
      }
    }
  }
}
.upload-btn{
  input::-webkit-file-upload-button {
  position: absolute;
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}
}
.contact-us-section{
  padding: 8rem 0;
}

.box-details{
  margin-left: 180px;
  padding: 25px;
  @media screen and (max-width:991px) {
    margin-left: 0px;
    padding:10px;
  }
}
.bxhead h3{ 
  font-size:24px; 
  text-align:left; 
  color:#56698F; 
  line-height: 24px; 
  position:relative;
  padding-bottom: 10px; 
  margin-bottom: 5px;
  @media screen and (max-width:991px) {
    text-align: center;
  }
}
.bxhead h3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9vw;
    height: 2px;
    background-color: #0A5073;
    @media screen and (max-width:991px) {
    display: none;
  }
}
.bxhead h4{ 
  font-size:16px; 
  text-align:left; 
  color:#56698F; 
  line-height:30px;
  @media screen and (max-width:991px) {
    text-align: center;
  }
}
.boxtm p{ 
  text-align:right;
  @media screen and (max-width:991px) {
    text-align: center;
  }
}
.mg-box{
  background: #eee;
  overflow: visible;
  margin-top: 50px;
  min-height: 200px;
    @media screen and (max-width:991px) {
      min-height: auto;
      margin-top: 0;
      padding-top: 30px;
    }
}
.mg-box img {
    float: left;
    width: 160px;
    height: 200px;
    box-shadow: 2px 2px 5px #222;
    margin-top: -30px;
    @media screen and (max-width:991px) {
          margin: 0px auto 0;
          float: none;
    }
}


.vl {
    border-left: 4px solid #0A5073;
    height: 500px;
    margin-top: 20px;
    margin-left: 25%;
    @media screen and (max-width:991px) {
      display: none;
    }
}
.descBox{
  h3 {
    font-size: 16px;
    padding: 0 0 0 0;
    color: #0A5073;
    margin-top: 15px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 35px;
  }
  ul{
    li{
    line-height: 2;
    color: #444444;
    position: relative;
    }
  }
}
