@charset "utf-8";
/* CSS Document */

.main-table{/* font-family:Saira; */font-weight:normal;Font-size:14px;color:#333;line-height:24px;text-align:justify;margin-top: 15px;}
.main-heading{
    font-weight: bold;
    Font-size: 25px;
    color: #000;
    line-height: 36px;
    border-bottom: 1px #ccc dashed;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0;
    }
.sub-heading{
    font-weight: bold;
    Font-size: 16px;
    color: #000;
    line-height: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    }
.team-title{font-weight:bold; Font-size:18px; color:#000; line-height:30px;}
.contact-us{ padding-left:20px; line-height:24px;}

/*cont-page*/
.map-contp{border:1px dashed #ccc;}
.cont-page h2{    font-weight:bold;
    color: #111;line-height: 26px;
    font-size: 19px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 18px;
	margin-top:10px;}
.cont-page h2 span{color: #111;
    font-weight: normal;
    font-size: 18px;}
.cont-page .st-feature-box {
    background: #010066;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    color: #fff;
}
.st-feature-box {
    padding-left: 75px;
    position: relative;
    margin-bottom: 35px;
}
.st-feature-box .st-feature-box-icon {
    color: #111;
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    line-height: 0px;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 60px;
    -webkit-transition: all .3s;
    -khtml-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.cont-page .feature-box-image {
    margin-top: 20px;
}
.cont-page .feature-box-image .fa{
   font-size:30px; color:#fff;
}
.cont-page h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 8px;
}
.st-feature-box h3 {
    color: #fff;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}
	

/*cont-page*/	
.navbar {
    position: relative;
    min-height: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.navbar-nav>li>a {
    /*padding-top:0 !important;
    padding-bottom: 0 !important;*/
}

.container-fluid{padding-left:2px;font-family: Open Sans !important;padding-right:2px;}


.navbar-nav {
    display: table;
    width: 100%;
    text-align: center;
    margin-left: 0  !important;
    margin-right: 0 !important;
}


.navbar-nav>li {
    display:table-cell;
    float: initial !important;
    vertical-align: middle;
}
.nav>li>a{padding: 10px 10px;}

#HeaderControl .rdCenter, #MenuControl .rdCenter{background: transparent !important;}

.navbar-default{border:0 !important;background-color: rgba(0, 0, 0, 0.7) !important;}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    /*padding-left: 3px;
    padding-right: 3px;*/
    }

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover{
   color: #fff !important;
   background: #000;
   }
   
.navbar-default .navbar-nav>.open>a:focus{color: #fff !important; background:#2f4d5a !important;}
	
#MenuControl_C .dropdown-menu{padding:0 !important; animation: fadeInUp 400ms;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #fff !important;
}

.dropdown-menu>li>a:focus:after, .dropdown-menu>li>a:hover:after {
        border-left-color: #fff !important;
}
	
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    /*background-color: #fff !important;*/
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #000 !important;
    border-color:#fff;
    color: #fff !important;
}


#MenuControl_C .navbar-default,
#MenuControl_C .container-fluid,
#MenuControl_C .navbar-nav
{height:100%;/* background-color: rgba(47,77,90,.6) !important; *//*! padding-top: 6px; */}

#MenuControl_C #navbar-collapse-1{height:100% !important;}
#WidgetControl4{/* display:none; */}

#HeaderControl{
    height: 82px;
    float: Left;
    background-color: rgba(0, 0, 0, 0.7) !important;
    margin-bottom: 0;
    padding: 16px 0;
    transition: 0.5s;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 9;
    width: 33%;
    background: transparent;
    text-align: center;
    }
	
#HeaderControl.RadDock_Default .rdMiddle .rdCenter, #HeaderControl.RadDock_Default .rdBottom .rdCenter{    background-color: transparent !important;}

#MenuControl.RadDock_Default .rdMiddle .rdCenter, #MenuControl.RadDock_Default .rdBottom .rdCenter{    background-color: transparent !important;}

#MenuControl{
    height: 80px;
    float: Right;
    margin-bottom: 0;
    padding: 0px 0;
    transition: 0.5s;
    position: absolute;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.7) !important; */
    top: 40px;
    z-index: 9;
    width: 67%;
    /* background: #000; */
    }
	
	
.body-fx #HeaderControl{
    float: Left;
    position: fixed;
    width: 35%;
    padding: 0;
    padding-left: 0;
    background: rgba(0, 0, 0, 0.7) !important;
    z-index: 99;
    text-align: left;
    transition: 0.5s;
    height: 70px;
    top: 0;
}

.body-fx #logo-web{ margin-top: 6px;}

.body-fx #MenuControl_C{ height: 70px;}


.body-fx #MenuControl {
    float: Right;
    position: fixed;
    right: 0;
    width: 65%;
    padding: 0;
    padding-right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    top: 0px;
    height: 70px;
}

center #form1 #HomepagecontentControl{padding-top: 105px; padding-bottom:25px;}
center #form1 .top-nav{background: rgba(0, 0, 0) !important;}
center #form1 #HeaderControl,
center #form1 #MenuControl{background: rgba(0, 0, 0) !important;}

center #form1 #HeaderControl{margin-left: -2px;     width: 36%;}
center #form1 #MenuControl{margin-right: -2px;}

.body-fx center #form1 #HeaderControl{margin-left:0;}
.body-fx center #form1 #MenuControl{margin-right: 0px;}
#widgetsControl, #widgetsControl_C{height:inherit !important;}
@media (max-width: 991px){
#MenuControl_C, #HeaderControl_C{height:inherit !important;}
center #form1 #HeaderControl{margin-left: -2px; /*! height:inherit !important; */    width: 35%;}
}
@media (max-width: 769px){
#MenuControl, #MenuControl_C{height: initial !important;}	
#widgetsControl_C, #widgetsControl{height:initial !important}
	}

@media (max-width: 767px)
{

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top 
{
   margin-right: 0px !important;
 margin-left:  0px !important;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 2px 15px 2px 25px;
}
.navbar-nav>li{display: block; text-align:left;}
}



@media(max-width:736px){
    .body-fx #MenuControl{position: absolute !important;}
 
.navbar-nav>li{display: block; text-align:left;}
#HeaderControl, #HeaderControl_C{height: initial !important;}	
header{padding-top: 2px;}
}

@media(max-width:375px){
.fl-head h2{    font-size: 23px;}
}

.table-responsive {
    min-height: .01%;border: 0;
    overflow-y: hidden !important;
}